.details {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: flex-end;

}



.mark-top {
    float: left;
    font-size: 3rem;
}

.quote strong {
    font-size: 3rem;
    font-weight: 100;
}

.mark-bot {
    float: right;
    margin-top: -2rem;
    font-size: 3rem;
}




.border-bottom {
    background-color: #11110fa8;
    padding: 1rem;
    border-radius: 5px;
}

.actions {
    display: flex;
    justify-content: flex-end;
}


.comment {

    border: none;
    margin-bottom: 5px;


}




.details p {
    writing-mode: vertical-lr;

    -webkit-transform: rotate(180deg);
}

.author {
    float: right;
    color: #575146;
    font-size: 15px;
    margin: 1rem 2rem;
    font-family: cursive;
}

.username {
    float: left;
    color: #575146;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: flex-start;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.username p {
    writing-mode: vertical-lr;
}

@media (max-width: 500px) {
    .quote p {
        text-decoration: solid;
        font-style: italic;
        font-weight: 400;
        float: none;
        color: #0064bc;
        padding: 4px 6px;
        border-radius: 5px;

    }
}