body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'cursive', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #efdcca;
  background-image:
    linear-gradient(90deg, transparent 79px, #abced499 79px, #abced4ad 81px, transparent 81px),
    linear-gradient(rgba(207, 184, 158, 0.374) .1em, transparent .1em);
  background-size: 100% 1.2em;
  opacity: 1;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  position: relative;
  top: 30vh;
}

.centered {
  margin: 6rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.form {

  width: 20rem;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 15px;
  margin: auto;
  text-shadow: 2px 2px 2px #000000bd;
  background: url(https://images.unsplash.com/photo-1580127645995-d43fe9598711?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2Mjg4MzU2OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
  background-size: cover;
  transition: all 2s ease-in-out;
  transform-style: preserve-3d;
  perspective: 1000px;
}



.btn {
  color: #3e3a3a;
  font-weight: 900;
  font-family: cursive;
  height: 1.6rem;
  text-decoration: none;
  background: #eda31b;
  border: solid 2px #3e3a3a !important;
  border-bottom-width: 6px !important;
  padding: 0 1.5rem;
  border: none;
  cursor: pointer;
  display: block;
  margin: 3px;
  margin-top: 0;
  border-radius: 5px;

}



.btn:hover,
.btn:active {
  color: #3e3a3a;
  background-color: #ffbf48;
  padding: 0 1.5rem;


}

.btn:active {
  border-bottom-width: 2px !important;
  background-color: #ffbf48;

}

.btn:disabled {
  border-color: #aeaeae;
  background-color: #c2c2c2;
  color: #8c8c8c;
  cursor: not-allowed;
}

.btn_flat {
  color: #eda31b;
  font-weight: 900;
  text-decoration: none;
  background: #3e3a3a;
  padding: 0 1.5rem;
  border: none;
  cursor: pointer;
  display: block;
  margin: 3px;
  margin-top: 0;


}

.btn_flat:hover,
.btn_flat:active {
  color: #3e3a3a;
  background-color: #eda31b;

}

.btn_flat:disabled {
  border-color: #aeaeae;
  background-color: #c2c2c2;
  color: #8c8c8c;
  cursor: not-allowed;
}



.btn-warning {
  color: #ffffff;
  background-color: #c22d2d;
  border: #c22d2d;
  height: 1.6rem;
  padding: 0 1.5rem;
  margin: 3px;
  float: left;
  cursor: pointer;
  font-weight: 900;
  text-decoration: none;
  margin-top: 0;

}

.btn-warning:hover,
.btn-warning:active {
  color: #ffffff;
  background-color: #9b0000;


}


@media (max-width: 500px) {
  main {
    top: 20vh;

  }

  .form {
    width: 78vw;
  }
}