.card {
    position: relative;
    top: 0;
    left: 0;
    width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    text-shadow: 2px 1px 7px #000000, 1px 1px 7px #000000;
    box-shadow: 3px 4px 12px 1px #00000070;
    background: url(https://images.unsplash.com/photo-1580127645995-d43fe9598711?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2Mjg4MzU2OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);
    background-size: cover;
    color: #eda31b;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .card {
        width: 75vw;
    }
}